
.title{
    font-size: 2rem;
}

textarea {
    min-width: 10em;
    width: 30rem;
    height: 30rem;
}

.container {
    display: flex;
    margin: 0.1em;
    padding: 0.2em;
}

.button {
    margin: 1em;
    padding: 8px;
    border: unset;
    background-color: lightsalmon;
    border-radius: 8px;
    cursor: pointer;
}

